@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif, Verdana;
}
ul,
li,
menu{
    list-style: none;
}
a{
    color: currentColor;
    display: inline-block;
    text-decoration: none;
}
img{
    max-width: 100%;
}
/* LAYOUT */
.container{
    max-width: 1200px;
}
.container-small{
    max-width: 1000px;
}
.container,
.container-small{
    margin: 0 auto;
}
.cta{
    color: #fff;
}
.cta.blue{
    font-weight: bold;
    background-color: #0061FF;
}
.cta.white{
    color: #000;
    border-top: 1px solid #bbb;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col{
    display: flex;
    flex-direction: column;
}
.w-30{
    flex-basis: calc(100% / 3);
}
.w-40{
    flex-basis: 40%;
}
.w-60{
    flex-basis: 60%;
}
.w-70{
    flex-basis: 70%;
}
.w-80{
    flex-basis: 80%;
}
.margin-neg{
    margin: 0 -50px;
}
.check-blue{
    color: blue;
}
/* HEADER > NAV */
.main-header{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    padding: 27px 18px;
    background-color: #fff;
    justify-content: space-between;
}
.nav{
    gap: 10px;
    display: flex;
    flex-basis: 50%;
    align-items: center;
    flex-direction: row;
}
.nav.nav-left{
    justify-content: flex-start;
}
.nav.nav-right{
    justify-content: flex-end;
}
.nav-list{
    display: flex;
}
.nav-list li{
    white-space: nowrap;
}
.nav .nav-list .list-link{
    font-size: 15px;
    padding: 11px 17px;
}
/* MAIN > JUMBO */
main{
    padding-top: 80px;
}
.jumbo{
    padding-top: 100px;
    background-color: #B4D0E7;
}
.jumbo .container .row:last-of-type{
    padding-top: 50px;
}
.jumbo-title .title{
    font-size: 75px;
}
.desc-cta{
    padding: 13px 15px;
}
.desc,
.desc-cta{
    margin-bottom: 30px;
}
.jumbo-downarrow{
    font-size: 40px;
    padding-top: 50px;
    padding-bottom: 20px;
    display: inline-block;
}
.jumbo-img__container{
    position: relative;
}
.jumbo-img{
    position: absolute;
    top: 0;
}
/* MAIN > SUB */
.sub{
    padding-top: 150px;
}
.sub-title .title{
    font-size: 40px;
}
.sub-select{
    padding-top: 60px;
}
.sub-select{
    gap: 50px;
}
/* SUB > CARD */
.card-container{
    padding-top: 50px;
}
.card-container .row .col{
    padding: 0 25px;
    margin-bottom: 50px;
    flex-basis: calc(100% / 3);
}
.card__content{
    padding: 50px 30px 50px;
}
.card-container .row .col.w-100{
    flex-basis: 100%;
}
.col.w-100 .card .card__content{
    display: flex;
    padding-top: 30px;
    padding-bottom: 10px;
    flex-direction: row;
}
.col.w-100 .card .card__content .card-info{
    margin-bottom: 10px;
}
.card .card__content .card-info{
    flex-basis: 70%;
    padding-right: 100px;
}
.card .card__content .card-cta{
    flex-basis: 30%;
}
.col .card{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid #eee;
}
.card-title{
    gap: 5px;
    display: flex;
    padding: 13px 0;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.card-title .title{
    font-weight: normal;
}
.card-info{
    display: flex;
    margin-bottom: 50px;
    flex-direction: column;
}
.card-info .info-price{
    font-size: 24px;
}
.card-info .info-price{
    font-size: 14px;
    font-weight: bold;
    padding: 23px 0 18px;
}
.card-info .info-interval{
    font-size: 14px;
    font-weight: 300;
}
.card-list__plane-package{
    gap: 13px;
    height: 160px;
    display: flex;
    margin-bottom: 50px;
    flex-direction: column;
    justify-content: center;
}
.card-list__plane-package > li{
    gap: 5px;
    display: flex;
    align-items: flex-start;
}
.card-list__plane-package > li > i{
    padding-top: 3px;
}
.card-cta{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.card-cta .cta{
    width: 100%;
    padding: 10px 0;
    text-align: center;
}
.cta-link__alternative{
    font-size: 14px;
    padding: 35px 0;
}
.cta-link__alternative .cta-link{
    color: blue;
    text-decoration: underline;
}
.card-resume::before{
    height: 2px;
    width: 50px;
    content: '';
    display: block;
    margin-bottom: 35px;
    background-color: #eee;
}
.resume-title{
    margin-bottom: 35px;
}
.card-list__resume{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.card-list__resume li{
    gap: 5px;
    display: flex;
    font-size: 15px;
    margin-bottom: 25px;
    flex-direction: row;
}
.info-desc{
    font-size: 14px;
    padding-top: 50px;
}
/* PARTNER */
.section-partner{
    padding: 100px 0;
}
.partner-wrapper .container-partner__text{
    padding: 60px 50px 0;
}
.partner-wrapper .container-partner__text .title{
    font-size: 24px;
    margin-bottom: 20px;
}
.partner-wrapper .container-partner__text .desc{
    font-size: 16px;
    margin-bottom: 30px;
}
.partner-wrapper .container-partner__text .cta{
    padding: 10px 16px;
}