@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif, Verdana;
}
ul,
li,
menu{
    list-style: none;
}
a{
    color: currentColor;
    display: inline-block;
    text-decoration: none;
}
img{
    display: block;
    max-width: 100%;
}
/* CTA Button */
.cta{
    color: #fff;
    padding: 10px 18px;
}
.cta.blue{
    font-weight: bold;
    background-color: #0061FF;
}
.cta.white{
    color: #000;
    background-color: #fff;
}
.cta.white-border{
    color: #000;
    border-top: 1px solid #bbb;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
}
.cta-link-alternative{
    color: blue;
    text-decoration: underline;
}
/* End CTA Button */
/* Radio Button */
.radio-button{
    width: 15px;
    height: 15px;
    cursor: pointer;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid #d1d1d1;
}
.radio-button.checked{
    border: 4px solid #0061FF;
}
/* End Radio Button */
/* Check List Plan */
.check-blue{
    color: blue;
    padding-top: 3px;
}
/* End Check List Plan */
/* Color Clients Button */
.lightgreen{
    background-color: #A2D39B;
}
.bordeaux{
    background-color: #61082B;
}
.lightblue{
    background-color: #0093CE;
}
.red{
    background-color: #FF1C1C;
}
.red-alternative{
    background-color: #D5001F;
}
.blupastello{
    background-color: #B4D0E7;
}
.darkblue{
    background-color: #0D2481;
}
.gold{
    background-color: #FFD830;
}
/* End Color Clients Button */
/* LAYOUT */
.container{
    max-width: 1200px;
}
.container-small{
    max-width: 1000px;
}
.container,
.container-small{
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col{
    display: flex;
    flex-direction: column;
}
.w-30{
    flex-basis: calc(100% / 3);
}
.w-40{
    flex-basis: calc(100% * 2 / 5);
}
.w-70{
    flex-basis: calc(100% * 2 / 3);
}
.w-60{
    flex-basis: calc(100% * 3 / 5);
}
.w-100{
    flex-basis: calc(100% / 1);
}
/* HEADER > NAV */
.main-header{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    padding: 18px;
    background-color: #fff;
}
.nav{
    gap: 10px;
    display: flex;
    margin-right: auto;
    align-items: center;
    flex-direction: row;
}
.nav-img{
    display: flex;
    padding-right: 18px;
    align-items: center;
    justify-content: center;
}
.nav-list{
    display: flex;
}
.nav-menu .nav-list li{
    white-space: nowrap;
}
.nav-menu .nav-list .list-link{
    font-size: 15px;
    padding: 11px 17px;
}
/* MAIN > JUMBO */
main{
    padding-top: 80px;
}
.jumbo{
    padding-top: 100px;
    /* height: 730px; */
    background-color: #B4D0E7;
}
.jumbo-title .title{
    font-size: 74px;
    margin-bottom: 50px;
}
.jumbo-desc{
    gap: 30px;
    flex-grow: 1;
    display: flex;
    position: relative;
    padding-right: 30px;
    flex-direction: column;
    align-items: flex-start;
}
.jumbo-desc i{
    position: absolute;
    /* padding-bottom: 90px; */
    padding-bottom: 20px;
    font-size: 40px;
    bottom: 0;
    left: 0;
}
/* MAIN > SUB */
.plan{
    padding-top: 150px;
}
.plan-title .title{
    font-size: 40px;
}
.plan-radio{
    gap: 50px;
    padding-top: 60px;
}
.radio-container{
    gap: 5px;
    display: flex;
    align-items: center;
}
/* PLAN > CARD */
.card-container{
    padding-top: 50px;
}
.card-container .row{
    gap: 25px;
}
.card-container .row .col{
    flex-grow: 1;
    flex-basis: 0;
}
.col .card{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid #eee;
}
.card .card-header{
    gap: 5px;
    display: flex;
    padding: 13px 0;
    align-items: center;
    font-weight: lighter;
    justify-content: center;
    border-bottom: 1px solid #eee;
}
.card__content{
    padding: 50px 30px 50px;
}
.card .card__content .card-info{
    padding-right: 100px;
}
.card-info{
    display: flex;
    margin-bottom: 50px;
    flex-direction: column;
}
.card-info .info-price{
    font-weight: bold;
    padding: 23px 0 18px;
}
.card-info .info-interval{
    font-weight: lighter;
}
.card-list__plane-package{
    gap: 13px;
    height: 160px;
    display: flex;
    margin-bottom: 50px;
    flex-direction: column;
    justify-content: center;
}
.card-list__plane-package > li{
    gap: 5px;
    display: flex;
    align-items: flex-start;
}
.card-list__plane-package > li > i{
    padding-top: 3px;
} 
.card-cta{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.card-cta .cta{
    width: 100%;
    padding: 10px 0;
    text-align: center;
}
.cta-link-wrapper{
    padding: 35px 0;
}
.card-resume::before{
    width: 50px;
    height: 2px;
    content: '';
    display: block;
    margin-bottom: 35px;
    background-color: #d1d1d8;
}
.resume-title{
    padding-bottom: 35px;
}
.card-list__resume{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.card-list__resume li{
    gap: 5px;
    display: flex;
    margin-bottom: 25px;
    flex-direction: row;
}
.info-desc{
    padding-top: 50px;
}
.info-desc,
.cta-link-wrapper,
.card-info .info-price,
.card-list__resume li,
.card-info .info-interval{
    font-size: 14px;
}
/* 100% card */
.col.w-100 .card .card__content{
    display: flex;
    flex-direction: column;
}
.col.w-100 .card .card__content .card-info{
    gap: 15px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.col.w-100 .card .card__content .info-title{
    font-size: 24px;
}
.col.w-100 .card .card__content .cta{
    text-align: center;
}
.col.w-100 .card .card__content .card-desc{
    max-width: 600px;
}
.col.w-100 .card .card__content .card-desc strong{
    font-size: 15px;
}
/* End 100% card */
/* PARTNER */
.section-partner{
    padding: 100px 0;
}
.partner-wrapper .container-partner__text{
    padding-top: 60px;
    padding-left: 50px;
}
.partner-wrapper .container-partner__text .title{
    font-size: 22px;
    margin-bottom: 20px;
}
.partner-wrapper .container-partner__text .desc{
    margin-bottom: 30px;
}
.partner-wrapper .container-partner__text .cta{
    padding: 10px 16px;
}
/* FEATURES  */
.section-features .features{
    padding-top: 75px;
    justify-content: center;
    gap: 25px;
}
.section-features .features .col.features-wrapper{
    max-width: 300px;
}
.features-wrapper > .title{
    font-size: 36px;
}
.wrapper{
    display: flex;
    flex-direction: column;
}
.wrapper > .title{
    font-size: 24px;
    padding-bottom: 40px;
}
/* CLIENTS */
.section-client{
    padding-top: 200px;
    padding-bottom: 150px;
}
.client-wrapper{
    padding-bottom: 150px;
}
.client-wrapper .title{
    font-size: 40px;
    padding-bottom: 60px;
}
.square-container{
    flex-wrap: wrap;
    aspect-ratio: 1/1;
}
.square-container.clients{
    flex-direction: row;
}
.square-container.info{
    gap: 40px;
    padding: 50px;
    flex-wrap: nowrap;
    background-color: #F5F5F5;
}
.card-client{
    display: flex;
    aspect-ratio: 1/1; 
    position: relative; 
    align-items: center;
    justify-content: center;
    flex-basis: calc(100% / 2);
}
.card-client-info{
    height: fit-content;
}
.card-client img{
    width: 50%;
    filter: invert(1);
}
.active::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 10px solid #ffffff99;
}
.card-client-info img{
    height: 90px;
}
.card-client-info.desc-container::before{
    content: '';
    height: 2px;
    width: 110px;
    display: block;
    background-color: #d1d1d8;
}
.card-client-info.desc-container{
    gap: 40px;
    display: flex;
    flex-direction: column;
}
/* CTA client */
.container-max.client-container{
    padding: 130px 0;
    background-color: #B4D0E7;
}
.client-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.client__title .title{
    font-size: 38px;
    color: #61082B;
    padding-right: 200px;
}
.cta-client__link{
    display: flex;
    justify-content: flex-end;
}
.cta-client__link .cta{
    align-self: flex-start;
}
/* FAQ */
.section-faq{
    padding-bottom: 150px;
}
.faq-head{
    margin-bottom: 60px;
}
.faq-head .title{
    font-size: 40px
}
.faq-body{
    width: 100%;
    border-top: 2px solid #d1d1d8;
}
.faq{
    display: flex;
    font-size: 18px;    
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    justify-content: space-between;
    border-bottom: 2px solid #d1d1d8;
}
/* FOOTER */
.section-footer{
    color: #fff;
    background-color: #000;
    padding-top: 90px;
}
.section-footer .col{
    width: 100%;
}
.row.menu-footer{
    gap: 20px;
    padding-bottom: 120px;
    justify-content: space-between;
}
.menu-footer .title{
    font-size: 24px;
    margin-bottom: 20px;
}
.footer-sublist .sublist-link{
    padding: 7px 0;
}
.section-footer .container > .row:first-of-type:after{
    content: '';
    height: 2px;
    width: 100px;
    display: block;
    background-color: #6B6B6B;
}
/* LANGUAGE */
.lang{
    gap: 5px;
    opacity: 0.5;
    display: flex;
    padding: 40px 0;
    align-items: center;
}   
.lang-selection{
    cursor: pointer;
    border: 0px solid;
    color: currentColor;
    background-color: transparent;
    appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
}
.lang::after{
    cursor: pointer;
    content: '\25B4';
    color: currentColor;
}